.notation-container {
  width: 100%;
}

.notation-container svg {
  aspect-ratio: 2 / 1;
  width: 100%;
}
/* 
.abcjs-notehead {
  @apply text-yellow-500;
}
.abcjs-stem {
  @apply text-yellow-500;
}

 */
