.notation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Optional: Stellt sicher, dass das Container-Div die volle Höhe einnimmt */
}

.notation-wrapper {
  max-width: 100%; /* Optional: Begrenzt die Breite des Wrapper-Divs auf die Bildschirmbreite */
}
